
.tamagotchi{
    min-height: 50vh;
}
.dictionnaire{
    min-height: 50vh;
}
.prompt{
    min-height: 50vh;
}
.besoins{
    min-height: 50vh;
}

body {
    background-image: url("../img/background2.jpg") ;
    background-size: cover;
}

.timer{
    margin: 50px auto;
}

.panda{
    max-width: 50%;
	height: auto;
    
}

.prompt{
    margin: 80px auto;

}

.dead {
    display: none;
  }